* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-size: 100%;
    background-color: darkgray;
}

.send__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}