* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d3a9ef;
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 12fr 1fr;
}

.chatbox__sidebar {
    height: 100%;
    position: fixed;
    width: 260px;
    background-color: rgba(0, 0, 128, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chatbox__sidebar .heading {
    font-size: 3.5rem;
    font-weight: 100;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    padding-bottom: 50px;
    padding-top: 50px;
}

.chatbox__sidebar .description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    padding-top: 20px;
    line-height: 2;
}

.chatbox__sidebar .commands {
    margin-top: 50px;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
    color: darkgray;
    font-style: italic;
}

.chatbox__sidebar .commands ul{
    list-style-type: none;
}


.send__button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 128, 0.3);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chatbox__footer {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 260px);
    left: 260px;
    

}

.chatbox__footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add box shadow */
    background-color: rgba(176, 176, 228, 0.5);
    font-family: 'Chakra Petch', sans-serif;
}