<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sheldon</title>
        <link rel="stylesheet" href="../static/index_styles.css">
        <script src="https://kit.fontawesome.com/a79e9c589c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    </head>
    <body class="chatbox">
        <div class="chatbox__sidebar">
            <div class="heading"><h4 class = "chatbox__heading">Sheldon</h4></div>
            <div class="description"><p class = "chatbox__description">Greetings! How may I assist you today? As the smartest person on Earth, I possess the knowledge and expertise to help you create an outstanding portfolio. Let me guide you in crafting a portfolio that truly shines.</p></div>
            <div class="commands">
                <p>Try Asking</p>
                <ul>
                    <li>How to build a resume?</li>
                    <li>Are projects important?</li>
                    <li>What is github?</li>
                    <li>How to make a linkedIn?</li>
                </ul>
            </div>
        </div>
        <div class="display_pane">
            <div class="chat_window">
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class = "chatbox__footer">
                    <input type="text" placeholder="Write a message..">
                    <button class="send__button">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
        <script src="../static/app.js"></script>
    </body>
