<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Template</title>
    <link rel="stylesheet" href="../static/resume_styles.css">
</head>
<body>
    <header>
        <div class="header_name">
            <h1>{{ resume['firstName'] }} {{ resume['lastName'] }}</h1>
        </div>
        <div class="header_address">
            <p>{{ resume['address'] }}, {{ resume['city'] }}, {{ resume['state'] }}, {{ resume['zip'] }}, {{ resume['country']}}</p>
            <p></p>
        </div>
        <div class="header_contact">
            <p>{{ resume['email'] }}    {{ resume['phone'] }}   {{ resume['LinkedIn'] }}    {{ resume['GitHub'] }}</p>
        </div>
    </header>

    <section class="education">
        <h2>Education</h2>
        <ul>
            {% for education in resume['education'] %}
                <li>
                    <h3>{{ education['school'] }}</h3>
                    <p>{{ education['degree'] }}</p>
                    <p>{{ education['major'] }}</p>
                    <p>{{ education['startedDate'] }} - {{ education['graduationDate'] }}</p>
                    <p>{{ education['gpa'] }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% if resume['experience'] %}
        <section class="experience">
            <h2>Experience</h2>
            <ul>
                {% for experience in resume['experience'] %}
                    <li>
                        <h3>{{ experience['company'] }}</h3>
                        <p>{{ experience['title'] }}</p>
                        <p>{{ experience['startDate'] }} - {{ experience['endDate'] }}</p>
                        <p>{{ experience['location'] }}</p>
                        <p>{{ experience['description'] }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <section class="projects">
        <h2>Projects</h2>
        <ul>
            {% for project in resume['projects'] %}
                <li>
                    <h3>{{ project['name'] }}</h3>
                    <p>{{ project['technologies'] }}</p>
                    <p>{{ project['description'] }}</p>
                </li>
            {% endfor %}
        </ul>

    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <ul>
                {% for category in resume[0]['skills'] %}
                    <li>
                        {{ category|dictkeys }} - {% for skill in category|dictvalues %}{{ skill }}, {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </ul>
    </section>
</body>
</html>