<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Resume Form</title>
        <!--<link rel="stylesheet" href="../static/index_styles.css">-->
    </head>
    <body>
        <h1>Fill out the form to generate resume</h1>
        <form>
            <h2>Personal Information</h2>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="resume[0][firstName]" required>
    
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="resume[0][lastName]" required>
    
            <label for="address">Address:</label>
            <input type="text" id="address" name="resume[0][address]" required>

            <label for="city">City:</label>
            <input type="text" id="city" name="resume[0][city]" required>

            <label for="state">State:</label>
            <input type="text" id="state" name="resume[0][state]" required>

            <label for="zip">Zip:</label>
            <input type="text" id="zip" name="resume[0][zip]" required>

            <label for="country">Country:</label>
            <input type="text" id="country" name="resume[0][country]" required>
    
            <!-------------------------------------------->
    
            <h2>Contact Information</h2>
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="resume[0][phone]" required>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="resume[0][email]" required>
    
            <label for="LinkedIn">LinkedIn:</label>
            <input type="url" id="LinkedIn" name="resume[0][LinkedIn]">
    
            <label for="GitHub">GitHub:</label>
            <input type="url" id="GitHub" name="resume[0][GitHub]">
    
            <!-------------------------------------------->
    
            <h2>Education</h2>
            <div id="educationContainer">
                <div id="educationTemplate">
                    <label for="school">School:</label>
                    <input type="text" id="school" name="resume[0][education][0][school]" required>
            
                    <label for="degree">Degree:</label>
                    <input type="text" id="degree" name="resume[0][education][0][degree]" required>

                    <label for="major">Major:</label>
                    <input type="text" id="major" name="resume[0][education][0][major]" required>

                    <label for="graduationDate">Graduation Date:</label>
                    <input type="date" id="graduationDate" name="resume[0][education][0][graduationDate]" required>

                    <label for="startedDate">Started Date:</label>
                    <input type="date" id="startedDate" name="resume[0][education][0][startedDate]" required>

                    <label for="gpa">GPA:</label>
                    <input type="number" id="gpa" name="resume[0][education][0][gpa]" required>
                </div>
            </div>
            <button type="button" id="addEducationButton">Add Education</button>
    
            <!--------------------------------------------->
    
            <h2>Projects</h2>
            <p>A good resume necessitates the inclusion of at least one impressive project. If you find yourself bereft of such a project, I insist that you immediately embark on the task of creating one. Yes, you heard correctly—design, develop, and execute a project worthy of the highest accolades. Once you have accomplished this Herculean feat, return promptly to complete the resume form</p>
            <div id="projectsContainer">
                <div id="projectsTemplate">
                    <label for="projectName">Project Name:</label>
                    <input type="text" id="projectName" name="resume[0][projects][0][name]" required>
            
                    <label for="projectDescription">Project Description:</label>
                    <textarea id="projectDescription" name="resume[0][projects][0][description]" required></textarea>

                    <label for="projectTechnologies">Project Technologies:</label>
                    <textarea id="project1Technologies" name="resume[0][projects][0][technologies]" required></textarea>
                </div>
            </div>
            <button type="button" id="addProjectButton">Add Project</button>

    
            <!------------------------------------------------------------>
    
            <h2>Experience</h2>
            <div id="experienceContainer">
                <div id="experienceTemplate">
                    <label for="company">Company:</label>
                    <input type="text" id="company" name="resume[0][experience][0][company]">
                    
                    <label for="title">Title</label>

                    <label for="position">Position:</label>
                    <input type="text" id="position" name="resume[0][experience][0][position]">

                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="resume[0][experience][0][startDate]">

                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="resume[0][experience][0][endDate]">

                    <label for="experienceDescription">Experience Description:</label>
                    <textarea id="experienceDescription" name="resume[0][experience][0][description]"></textarea>
                </div>
            </div>
            <button type="button" id="addExperienceButton">Add Experience</button>

            <!----------------------------------------------------------->

            <h2>Skills</h2>
            <label for="languages">Languages:</label>
            <textarea id="languages" name="resume[0][skills][Languages]"></textarea>

            <label for="developerTools">Developer Tools:</label>
            <textarea id="developerTools" name="resume[0][skills][developerTools]"></textarea>

            <label for="frameworks">Frameworks:</label>
            <textarea id="frameworks" name="resume[0][skills][frameworks]"></textarea>
    
            <button type="submit">Submit</button>
        </form>
        <script src="../static/form.js"></script>
    </body>
</html>